body{

margin:0;
font-family:-apple-system;

background:linear-gradient(#ffd6e7,#fff0f6);

}

header{

text-align:center;
padding:25px;

}

#dateTitle{

font-size:24px;
font-weight:bold;

}

.container{

padding:15px;

}

.card{

background:white;

border-radius:18px;

padding:15px;

margin-bottom:15px;

box-shadow:0 10px 25px rgba(0,0,0,0.08);

}

.cardTitle{

font-weight:600;
margin-bottom:10px;

}

.item{

display:flex;

justify-content:space-between;

padding:6px 0;

border-bottom:1px solid #eee;

}

button{

border:none;

border-radius:10px;

padding:6px 10px;

}

.mapBtn{

background:#ff7aa8;
color:white;

}

.addBox{

display:flex;
gap:6px;
margin-top:10px;

}

.addBox input{

flex:1;

padding:10px;

border-radius:10px;

border:1px solid #eee;

}

.addBox button{

background:#ff7aa8;
color:white;

}

.nav{

position:fixed;

bottom:20px;

left:0;

right:0;

display:flex;

justify-content:center;

gap:40px;

}

.nav button{

background:white;

padding:12px 18px;

border-radius:30px;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

font-size:18px;

}